<div class="mt-4 mb-0">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={{ path('app_home') }}>Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ path('app_rooms') }}>Les salles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Les emprunts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href={{ path('app_login') }}>Connexion</a>
        </li>
    </ul>
</div>